<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>
<link rel="stylesheet" href="../public/style/login.css">
<script src="../public/js/login.js"></script>

<body>
  <br><br>
  <div class="luar">
    <div class="frame" align="center">
      <div class="con">
        <div align="left">
          <p>Userame</p>
          <input class="inpt" type="text" id="username" name="nama" autofocus>
        </div>

        <div align="left">
          <p>Password</p>
          <input class="inpt" type="password" id="password" onkeypress="submit(event)">
        </div><br>
        <button class="button button1" type="button" onclick="cek()">Login</button>
      </div>
    </div>
  </div>
</body>

</html>